{% set layout = layout is defined ? layout : 'dynamic' %}

<div class="plan-card plan-card--layout-{{ layout }} {{ class }}">
	<div class="plan-card__wrapper">
		<div class="plan-card__content">
			<picture class="plan-card__featured-picture">
				{% include 'shared/media.twig' with {
					source: data.icon.url,
					alt: data.title,
					class: 'plan-card__featured-image',
				}%}
			</picture>

			<h3 class="plan-card__name show-for-sr">{{ data.title }}</h5>

			<picture class="plan-card__logo-picture">
				{% include 'shared/media.twig' with {
					source: data.logo.url,
					alt: data.title,
					class: 'plan-card__logo-image',
				}%}
			</picture>

			<div class="plan-card__price">
				<div class="plan-card__price-value">
					{% if data.price.prefix %}
						<small class="small small--prepend">{{ data.price.prefix }}</small>
					{% endif %}
					<span class="number">{{ data.price.value }}</span>
					{% if data.price.suffix %}
						<small class="small small--append">/{{ data.price.suffix }}</small>
					{% endif %}
				</div>

				{% if data.price.info %}
					<div class="plan-card__price-info">{{ data.price.info }}</div>
				{% endif %}
			</div>

			<div class="plan-card__info info">
				<ul class="info__list">
					{% for info in data.features %}
						<li class="info__item">
							{{ info.feature_description }}
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="plan-card__description">{{ data.description }}</div>
		</div>

		<div class="plan-card__best-uses best-uses">
			<ul class="best-uses__list">
				<li class="best-uses__item best-uses__item--label">Best used for:</li>
				{% for use_case in data.uses %}
					<li class="best-uses__item best-uses__item--{{ use_case.slug }}">{{ use_case.label }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="plan-card__cta">
		{% include 'shared/button.twig' with {
			href: data.button.url,
			label: data.button.title,
			style: 'light-primary',
			class: 'plan-card__cta-button plan-card__cta-button--mobile',
		}%}

		{% include 'shared/button.twig' with {
			href: data.button.url,
			label: data.button.title,
			variation: 'simple',
			size: 'large',
			style: 'dark',
			class: 'plan-card__cta-button plan-card__cta-button--desktop',
		}%}
	</div>
</div>
