<section id="pdf-lists" class="pdf-lists">
    <div class="pdf-lists__wrapper">

		{% for list in post.get_field('pdf_lists') %}
			<div class="pdf-lists__list">
				<div class="pdf-lists__list--intro">
					{{ list.list_intro }}
				</div>
				<div class="pdf-lists__list--grid">

					{% for pdf in list.pdfs %}
						<div class="pdf-lists__list--item">
							<a class="pdf-lists__list--link" href="{{ pdf.pdf_url }}">
								<img src="{{ pdf.pdf_preview_image.url }}" alt="{{ pdf.pdf_preview_image.alt }}">
							</a>
							{{ pdf.pdf_description }}
						</div>
					{% endfor %}

				</div>
			</div>
		{% endfor %}

    </div>
</section>
