<section class="intro">
	<div class="intro__wrapper">
		
		{{ post.get_field('intro_text') }}
		
		<div class="intro__grid">

			{% for item in post.get_field('intro_links') %}
				<a href="{{ item.link_url }}" class="intro__grid--item">
					<img src="{{ item.link_icon.url }}" alt="{{ item.link_icon.alt }}" class="intro__grid--icon">
					<span class="h-two">{{ item.link_title }}</span>
				</a>
			{% endfor %}

		</div>
	</div>
</section>