<section id="news" class="news">
	<div class="news__bg-pattern"></div>

	<div class="news__wrapper">
		<div class="news__headline">{{ post.get_field('post_slider_left_label') }}</div>

		<div class="news__heading">
			<div class="news__heading-top">
				<h2 class="news__title">{{ post.get_field('post_slider_title') }}</h2>

				<nav id="news-nav" class="news__nav">
					<button
						class="news__arrow news__arrow--prev"
						data-direction="prev">
						{% include 'icons/slider-arrow.svg.twig' with {
							direction: 'prev',
						}%}
					</button>

					<button
						class="news__arrow news__arrow--next"
						data-direction="next">
						{% include 'icons/slider-arrow.svg.twig' with {
							direction: 'next',
						}%}
					</button>
				</nav>
			</div>

			<div class="news__heading-bottom">
				{% include 'shared/button.twig' with {
					href: post.get_field('post_slider_button').url,
					label: post.get_field('post_slider_button').title,
					variation: 'simple',
					size: 'large',
					style: 'dark-primary',
				}%}
			</div>
		</div>

		<div id="news-slider" class="news__slider slider">
			<div class="slider__items owl-carousel">

				{% for item in slider %}
					<div class="slider__item item">
						<picture class="item__picture">
							<a
								href="{{ item.url }}"
								title="Learn More"
								class="item__picture-link">
								{% include 'shared/media.twig' with {
									source: item.image,
									alt: item.title,
									class: 'item__image',
								}%}
							</a>
						</picture>

						<div class="item__info">
							<h3 class="item__title">{{ item.title }}</h3>
							{% if item.category %}
								<div class="item__category">
									<a
										href="{{ item.category.url }}"
										class="item__category-link">
										{{ item.category.label }}
									</a>
								</div>
							{% endif %}
						</div>

						<div class="item__cta">
							{% include 'shared/button.twig' with {
								href: item.url,
								label: 'Learn More',
								variation: 'simple',
								size: 'large',
								style: 'dark-primary',
							}%}
						</div>
					</div>
				{% endfor %}

				<div class="placeholder-item"></div>
			</div>
		</div>
	</div>
</section>
