<section id="contact-form" class="contact-form">
    <div class="contact-form__wrapper">
		<div class="contact-form__left">
			<div class="contact-form__left--hours">
				{{ post.get_field('hours') }}
			</div>
			{{ post.get_field('form_intro') }}
			{{ post.get_field('form_code') }}
		</div>
		<div class="contact-form__right">
			<ul class="contact-form__right--contacts">

				{% for item in post.get_field('contacts') %}
					<li>
						<span class="icon__{{ item.icon }} h-three">{{ item.contact_type }}</span>
						{{ item.contacts }}
					</li>
				{% endfor %}

			</ul>
		</div>
    </div>
</section>
