<section id="contact-form" class="contact-form">
    <div class="contact-form__wrapper">
		<div class="contact-form__left">
			<div class="contact-form__left--hours">
				{{ post.get_field('hours') }}
			</div>
			{{ post.get_field('form_intro') }}

			<div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/3c660d0ee08f47f309f28ddbfa2dc6a57222911" data-script-id="idkld17i" id="ida86qgju">
				<script src="https://cdn.pipedriveassets.com/web-form-assets/webforms.min.js"></script>
				<script src="https://webforms.pipedrive.com/f/loader"></script>
				<iframe src="https://pipedrivewebforms.com/form/3c660d0ee08f47f309f28ddbfa2dc6a57222911?embeded=1&amp;uuid=ida86qgju" name="https://preferredhomesmi.com/contact/-ida86qgju" scrolling="no" style="height: 1161px;"></iframe>
			</div>
		</div>
		<div class="contact-form__right">
			<ul class="contact-form__right--contacts">

				{% for item in post.get_field('contacts') %}
					<li>
						<span class="icon__{{ item.icon }} h-three">{{ item.contact_type }}</span>
						{{ item.contacts }}
					</li>
				{% endfor %}

			</ul>
		</div>
    </div>
</section>
