{% extends 'base.twig' %}

{% set template = 'blog' %}

{% block content %}
    <div class="blog">
        <header class="blog__header">
            <h1 class="blog__header-title">
                {{ post.title }}
            </h1>
        </header>

        <div class="blog__content">
            {{ post.content }}
        </div>

        <section class="blog__posts">
            {% for posts in posts %}
                <article class="blog__post">
                    <picture class="blog__post-media">
                        <img class="blog__post__media-image" src="{{ posts.thumbnail.src | resize(500) }}">
                    </picture>

                    <div class="blog__post-content">
                        <h1 class="blog__post-title">
                            {{ posts.title }}
                        </h1>

                        <p class="blog__post__description">
                            {{ posts.preview.length(11).read_more('') }}
                        </p>

                        <a class="blog__post-link" href="{{ posts.link }}">
                            Read More
                        </a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
