{% extends 'base.twig' %}

{% set template = 'default' %}

{% block content %}
	<div id="default" class="page page--default">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
		}%}
		<section class="default-content">
			<div class="default-content__wrapper">
				{% if function( 'is_single' ) %}
					<p class="date">{{ post.date }}</p>
				{% endif %}
				{{ post.content }}
			</div>
		</section>

		{% include 'shared/testimonials.twig' %}

		{% if function( 'is_single' ) %}
			<div class="social-share">
				<div class="social-share__toggle" id="socialToggle">
					<span class="social-share__toggle--text">Share This</span>
					<button class="social-share__toggle--close" id="socialClose">&times;</button>
				</div>
				<div class="social-share__menu">
					<a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/sharer.php?u={{ function('urlencode', post.link) }}&t={{ function('urlencode', post.title) }}" class="social-share__menu--item facebook-button">
						<span>Facebook</span>
					</a>
					<a target="_blank" rel="noopener noreferrer" href="http://twitter.com/share?text={{ function('urlencode', post.title) }}&url={{ function('urlencode', post.link) }}" class="social-share__menu--item twitter-button">
						<span>Twitter</span>
					</a>
					<a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&su={{ function('urlencode', post.title) }}&body={{ function('urlencode', post.link) }}&ui=2&tf=1" class="social-share__menu--item gmail-button">
						<span>Gmail</span>
					</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
