<footer class="site-footer">
	<div class="site-footer__wrapper">
		<div class="site-footer__copy">

			{% if options.privacy_policy.url %}
				<p>
					<a href="{{ options.privacy_policy.url }}">{{ options.privacy_policy.title }}</a>
				</p>
			{% endif %}

			<p>{{ options.footer_text }}</p>
			<p>&copy; {{ 'now'|date('Y') }} Preferred Homes, All Rights Reserved</p>
		</div>
		<nav class="site-footer__nav">
			<ul class="site-footer__nav--social">

				{% for item in social_menu %}
					<li>
						<a href="{{ item.url }}" class="site-footer__nav--social--item {{ item.title | lower }}">
							<span>{{ item.title | lower }}</span>
						</a>
					</li>
				{% endfor %}

			</ul>

			{% if options.bbb_link %}
				<a href="{{ options.bbb_link }}" class="site-footer__nav--bbb">
					<img src="{{ theme.link ~ '/dist/images/bbb.png' }}" alt="BBB Badge">
				</a>
			{% endif %}
		</nav>
	</div>
</footer>