<header class="site-header">
	<nav class="top-nav">
		<div class="top-nav__wrapper">
			<a href="tel:{{ options.phone }}" class="top-nav__link--phone">{{ options.phone }}</a>
			<a href="mailto:{{ options.email }}" class="top-nav__link--email">{{ options.email }}</a>
		</div>
	</nav>
	<nav class="main-nav" id="mainNav">
		<div class="main-nav__wrapper">
			<div class="main-nav__logo">
				<a href="/" class="main-nav__logo--link">
					<img src="{{ theme.link ~ '/dist/images/logo.jpg' }}" alt="Preferred Homes Logo">
				</a>
			</div>
			<ul class="main-nav__list" id="mainNavList">

				{% for link in primary_menu %}
					<li>
						{% if link.sub %}
						<span class="main-nav__list--item has-submenu">
							{{ link.title }}
							<ul class="main-nav__list--item--submenu">
								{% for sublink in link.sub %}
									<li>
										<a href="{{ sublink.url }}">{{ sublink.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</span>
						{% else %}
						<a href="{{ link.url }}" class="main-nav__list--item">{{ link.title }}</a>
						{% endif %}
					</li>
				{% endfor %}
				
			</ul>
			<div class="mobile-nav" id="mobileNav"><span></span></div>
		</div>
	</nav>
</header>