<section id="archive" class="archive">
	<div class="archive__wrapper">
		<div class="archive__filters">

			<div class="archive__filters--taxonomies">

				<div class="filter-label h-three">
					<span>Filter By:</span>
				</div>

				{% for taxonomy in taxonomies %}
					<button class="ph-button filter-button">
						{{ taxonomy.label }}:
						<span id="{{ taxonomy.slug }}-current">
							{% if taxonomy.slug == tax_query %}
								{{ term_label }}
							{% else %}
								(ALL)
							{% endif %}
						</span>
						<ul class="archive__filters--terms {{ taxonomy.slug }}-terms-list">
							<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="all">All</li>

							{% for term in taxonomy.terms %}
								<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="{{ term.slug }}">{{ term.label }}</li>
							{% endfor %}

						</ul>
					</button>
				{% endfor %}

			</div>
		</div>
		<div class="archive__posts">
			<div class="archive__posts--wrapper">

				{% for post in posts %}
					<a href="{{ post.link }}" class="card" data-url>
						<div class="card__wrapper">
							<img alt="{{ post.title }}" class="card__image" src="{{ post.thumbnail.src }}" data-img/>
							<h3 data-title>{{ post.title }}</h3>
						</div>
					</a>
				{% endfor %}

			</div>
			<div class="archive__posts--button">
				{{ next_button }}
			</div>
		</div>
	</div>
</section>
