<section id="archive" class="archive">
	<div class="archive__wrapper">
		<div class="archive__filters">

			<div class="archive__filters--taxonomies">

				<div class="filter-label h-three">
					<span>Filter By:</span>
				</div>

				{% for taxonomy in taxonomies %}
					<button class="ph-button filter-button">
						{{ taxonomy.label }}:
						<span id="{{ taxonomy.slug }}-current">
							{% if taxonomy.slug == tax_query %}
								{{ term_label }}
							{% else %}
								(ALL)
							{% endif %}
						</span>
						<ul class="archive__filters--terms {{ taxonomy.slug }}-terms-list">
							<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="all">All</li>

							{% for term in taxonomy.terms %}
								<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="{{ term.slug }}">{{ term.label }}</li>
							{% endfor %}

						</ul>
					</button>
				{% endfor %}

			</div>
		</div>
		<div class="archive__posts">
			<div class="archive__posts--wrapper">

				{% for post in posts %}
					<a href="{{ post.link }}" class="card" data-url>
						<div class="card__wrapper">
							{% if post.get_field('callout') %}
								<span class="card__callout" data-callout>{{ post.get_field('callout') }}</span>
							{% else %}
								<span class="card__callout" data-callout style="display: none;"></span>
							{% endif %}
							<img alt="{{ post.title }}" class="card__image" src="{{ post.thumbnail.src }}" data-img/>
							<h3 data-title>{{ post.title }}</h3>
							<ul>
								<li data-sqft>SqFt: {{ post.get_field('sqft') }}</li>
								<li data-size>Size: {{ post.get_field('size') }}</li>
								<!-- <li>Beds: {{ post.get_field('beds') }}</li> -->
								<!-- <li>Bathrooms: {{ post.get_field('bathrooms') }}</li> -->
							</ul>
						</div>
					</a>
				{% endfor %}

			</div>
			<div class="archive__posts--button">
				{{ next_button }}
			</div>
		</div>
	</div>
</section>
