<section id="ecosystem" class="ecosystem">
	<div class="ecosystem__wrapper">

		<div class="ecosystem__col ecosystem__col--one">
			<div class="ecosystem__col-wrapper">
				{{ post.get_field('ecosystem_content') }}
			</div>
		</div>

		<div class="ecosystem__col ecosystem__col--two">
			<div class="ecosystem__col-wrapper">

				<div class="ecosystem__underlay">
					<div class="ecosystem__underlay--connections">
						{% for option in eco_options %}
							<div class="connection-line" id="{{ option }}Connection"></div>
						{% endfor %}
					</div>
				</div>

				{% include 'pages/portfolio/ecosystem-graphic.twig' %}

				<div class="ecosystem__overlay">

					<div class="ecosystem__overlay--buttons">
						{% for option in eco_options %}
							<button 
								class="eco-button" 
								data-option="{{ option }}"
								data-connections="{{ post.get_field( option ~ '_connections') | join(',') }}"
								data-text="{{ post.get_field( option ~ '_text') }}">
							</button>
						{% endfor %}
					</div>

					<div class="ecosystem__overlay--text">
						<p id="overlayText"></p>
						<div class="default-text" id="defaultText">
							<picture class="default-image">
								{% include 'shared/media.twig' with {
									source: theme.link ~ '/src/assets/img/dev/pages/portfolio/bulb-icon.png',
									alt: 'Digital portfolios'
								}%}
							</picture>
							{{ post.get_field( 'default_content') }}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
